# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=490ldgec
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-10-01
SANITY_API_TOKEN=your_api_token_here

# Resend Configuration
RESEND_API_KEY=your_resend_api_key_here
